---
import BaseLayout from "../layouts/BaseLayout.astro";

import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const blogEntries = (
  await getCollection("blog", (entry) => {
    // Exclude draft posts in production
    if (import.meta.env.PROD && entry.data.draft) {
      return false;
    }

    return true;
  })
).sort((a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime());
---

<BaseLayout
  title="Blog"
  description="My blog. My thoughts. My favorite subjects."
>
  <h1 class="text-3xl font-extrabold pb-4">Blog</h1>
  <p class="pb-8 dark:text-zinc-300">
    My blog, my thoughts, my favorite subjects.
  </p>

  <hr class="py-6 border-zinc-300 dark:border-zinc-600" />

  <div class="grid gap-6 sm:grid-cols-2 justify-items-center items-start">
    {
      blogEntries.map((entry) => (
        <PostCard
          href={`/blog/${entry.slug}/`}
          imageSrc={entry.data.imageSrc}
          imageAlt={entry.data.imageAlt}
          tags={entry.data.tags}
          title={entry.data.title}
          description={entry.data.description}
        />
      ))
    }
  </div>
</BaseLayout>
