---
import { Picture } from "@astrojs/image/components";
import type { Frontmatter } from "../frontmatter";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

const latestTutorial = (
  await Astro.glob<Frontmatter>("../pages/tutorials/**/*.md")
)
  .filter((post) => !post.frontmatter.draft)
  .filter((post) => !post.frontmatter.isSubpage)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishedOn).getTime() -
      new Date(a.frontmatter.publishedOn).getTime()
  )
  .at(0);

const latestBlogPost = (await Astro.glob<Frontmatter>("../pages/blog/**/*.md"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishedOn).getTime() -
      new Date(a.frontmatter.publishedOn).getTime()
  )
  .at(0);
---

<BaseLayout>
  <div class="grid sm:grid-cols-2 gap-8 justify-items-center pb-16">
    <div>
      <h1 class="text-3xl font-extrabold pb-4">
        Hi there, I'm Tyler.{" "}
        <span role="img" aria-label="hand wave"> 👋</span>
      </h1>

      <p class="dark:text-zinc-300">
        For as long as I can remember, I've loved everything technology. When I
        discovered that I could create technology with software, it became my
        second love. It's now my mission to help others discover the beauty in
        software that I've found.
      </p>
    </div>

    <Picture
      src="/assets/images/me.jpg"
      class="rounded-full overflow-hidden"
      alt="Image of the author"
      aspectRatio="1:1"
      widths={[240]}
      loading="eager"
      sizes="240px"
      width={240}
      height={240}
    />
  </div>

  <div class="grid sm:grid-cols-2 gap-12 justify-items-center items-start">
    {
      latestTutorial && (
        <div>
          <h2 class="text-2xl font-semibold text-purple-600 dark:text-purple-400 pb-4 text-center">
            Featured Tutorial
          </h2>
          <PostCard
            href={latestTutorial.url}
            image={latestTutorial.frontmatter.image}
            tags={latestTutorial.frontmatter.tags}
            title={latestTutorial.frontmatter.title}
            description={latestTutorial.frontmatter.description}
          />
        </div>
      )
    }

    {
      latestBlogPost && (
        <div>
          <h2 class="text-2xl font-semibold text-purple-600 dark:text-purple-400 pb-4 text-center">
            Featured Blog Post
          </h2>
          <PostCard
            href={latestBlogPost.url}
            image={latestBlogPost.frontmatter.image}
            tags={latestBlogPost.frontmatter.tags}
            title={latestBlogPost.frontmatter.title}
            description={latestBlogPost.frontmatter.description}
          />
        </div>
      )
    }
  </div>
</BaseLayout>
