---
import { Picture } from "@astrojs/image/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const latestTutorialEntry = (
  await getCollection("tutorials", (entry) => {
    // Exclude draft posts in production
    if (import.meta.env.PROD && entry.data.draft) {
      return false;
    }

    return entry.data.tutorial.homePage;
  })
)
  .sort((a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime())
  .at(0);

const latestBlogEntry = (
  await getCollection("blog", (entry) => {
    // Exclude draft posts in production
    if (import.meta.env.PROD && entry.data.draft) {
      return false;
    }

    return true;
  })
)
  .sort((a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime())
  .at(0);
---

<BaseLayout>
  <div class="grid sm:grid-cols-2 gap-8 justify-items-center pb-16">
    <div>
      <h1 class="text-3xl font-extrabold pb-4">
        Hi there, I'm Tyler.{" "}
        <span role="img" aria-label="hand wave"> 👋</span>
      </h1>

      <p class="dark:text-zinc-300">
        For as long as I can remember, I've loved everything technology. When I
        discovered that I could create technology with software, it became my
        second love. It's now my mission to help others discover the beauty in
        software that I've found.
      </p>
    </div>

    <Picture
      src="/assets/images/me.jpg"
      class="rounded-full overflow-hidden"
      alt="Image of the author"
      aspectRatio="1:1"
      widths={[240]}
      loading="eager"
      sizes="240px"
      width={240}
      height={240}
    />
  </div>

  <div class="grid sm:grid-cols-2 gap-12 justify-items-center items-start">
    {
      latestTutorialEntry && (
        <div>
          <h2 class="text-2xl font-semibold text-purple-600 dark:text-purple-400 pb-4 text-center">
            Featured Tutorial
          </h2>
          <PostCard
            href={`/tutorials/${latestTutorialEntry.slug}/`}
            rel="prefetch"
            image={latestTutorialEntry.data.image}
            tags={latestTutorialEntry.data.tags}
            title={latestTutorialEntry.data.title}
            description={latestTutorialEntry.data.description}
          />
        </div>
      )
    }

    {
      latestBlogEntry && (
        <div>
          <h2 class="text-2xl font-semibold text-purple-600 dark:text-purple-400 pb-4 text-center">
            Featured Blog Post
          </h2>
          <PostCard
            href={`/blog/${latestBlogEntry.slug}/`}
            rel="prefetch"
            image={latestBlogEntry.data.image}
            tags={latestBlogEntry.data.tags}
            title={latestBlogEntry.data.title}
            description={latestBlogEntry.data.description}
          />
        </div>
      )
    }
  </div>
</BaseLayout>
