---
import { Picture } from "@astrojs/image/components";
import type { Tag } from "../frontmatter";
import Pill from "./Pill.astro";

interface Props {
  href?: string;
  image: {
    src: string;
    alt: string;
  };
  tags?: Tag[];
  title: string;
  description: string;
}
const { href, image, tags = [], title, description } = Astro.props;
---

<a
  href={href}
  class="grid w-80 p-4 rounded-md hover:bg-zinc-200 dark:hover:bg-zinc-700/75 transition-colors"
>
  <div
    class="h-0 overflow-hidden pt-[56.25%] relative bg-zinc-800/25 rounded-md shadow-lg"
  >
    <Picture
      src={image.src}
      class="rounded-md overflow-hidden absolute top-0 left-0"
      alt={image.alt}
      aspectRatio="16:9"
      widths={[300]}
      loading="eager"
      sizes="300px"
      width={300}
      height={300}
    />
  </div>
  <div class="flex flex-wrap gap-1 py-4">
    {tags.map((tag) => <Pill tag={tag}>{tag}</Pill>)}
  </div>
  <div class="relative pb-2 w-max group">
    <h3 class="text-lg font-bold">
      {title}
    </h3>
    <span
      class="h-0.5 left-0 w-full block absolute scale-x-0 group-hover:scale-x-100 transition-transform ease-in origin-left group-hover:bg-black dark:group-hover:bg-white"
    ></span>
  </div>

  <p class="dark:text-zinc-300 font-normal">
    {description}
  </p>
</a>
