---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  tags?: string[];
  image?: string;
  imageAlt?: string;
  pubDate?: string;
}

const baseTags = ["blog", "dev", "tech"];

const defaultMeta = {
  title: "Tyler Wray",
  // TODO: Make better
  description: "My little corner of the internet",
  image: "/assets/images/me.jpg",
  imageAlt: "Photo of the author outdoors",
  tags: baseTags,
};

const {
  title = defaultMeta.title,
  description = defaultMeta.description,
  image = defaultMeta.image,
  imageAlt = defaultMeta.imageAlt,
  tags = [],
  publishedOn,
} = Astro.props;

const keywords = [...tags, ...baseTags].join(", ");

const socialImageURL = new URL(image, Astro.site);
const canonicalURL = new URL(Astro.url).href;
const twitterHandle = "@wray_tw";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Tyler Wray" />
    <meta property="og:image:url" content={socialImageURL} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:locale" content="en_US" />
    {
      publishedOn && (
        <meta property="article:published_time" content={publishedOn} />
      )
    }
    <meta property="article:author" content="Tyler Wray" />
    <meta property="article:section" content="Technology" />
    <meta property="article:tags" content={keywords} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content={twitterHandle} />
    <meta name="twitter:creator" content={twitterHandle} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <meta property="twitter:creator" content={twitterHandle} />
    <meta property="twitter:creator:id" content="268108378" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Tyler Wray" />
    <meta name="keywords" content={keywords} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="grid justify-items-center bg-white text-black dark:bg-zinc-900 dark:text-white antialiased"
  >
    <Nav />
    <main
      class="p-8 pb-24 max-w-3xl items-center justify-self-center w-full min-h-[60vh]"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
